@import "tailwindcss";

:root {
  --background: #1E201E;
  --foreground: #E9E3DF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
   --color-lightdark-500: #3C3D37;
   --color-accent-500:#FF7A30;
}

@layer base {
  h1 {
    @apply text-xl sm:text-2xl font-bold
  }
  h2{
    @apply text-base sm:text-lg font-semibold
  }

  p{
    @apply text-sm sm:text-base font-thin 
  }

img{
  @apply w-auto h-auto
}
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: ;
}
